<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--     
      for this to be declared 'working'
      you ought to be able to at least swap out the IDataManager and ave it all work

    -->
    <add key="Avtec.DevMorningFix.ServiceTier.ISimpleFundamentalService" value="Avtec.DevMorningFix.ServiceTier.SimpleFundamentalServiceImpl" />
    <add key="Avtec.DevMorningFix.ServiceTier.DataManager.IDataManager"  value="Avtec.DevMorningFix.ServiceTier.SimpleFundamentalServiceImpl" />
    <add key="Avtec.DevMorningFix.BusinessTier.SimpleManager"            value="Avtec.DevMorningFix.BusinessTier.SimpleFundamentalsManager" />
    <add key="Avtec.DevMorningFix.FormatOutput.IFormattedOutputFactory"  value="Avtec.DevMorningFix.FormatOutput.FormattedOutputFactory" />
    <add key="Avtec.DevMorningFix.FormatOutput.IFundamentalFormat"       value="Avtec.DevMorningFix.FormatOutput.SimpleFormat" />
    <add key="Avtec.DevMorningFix.FormatOutput.IFundamentalModel"        value="Avtec.DevMorningFix.FormatOutput.FundamentalModel" />
    <add key="Avtec.DevMorningFix.FormatOutput.IOutput"                  value="Avtec.DevMorningFix.FormatOutput.ConsoleOutput" />
    <add key="Avtec.DevMorningFix.ServiceTier.ServiceByNameFactory"      value="Avtec.DevMorningFix.ServiceTier.ServiceByNameFactory" />
    <add key="Avtec.DevMorningFix.ServiceTier.DataManager.IDataManager"  value="Avtec.DevMorningFix.ServiceTier.DataManager.XmlManager" />

  </appSettings>
</configuration>