<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Avtec.DevMorningFix.FormatOutput.IFormattedOutputFactory"  value="Avtec.DevMorningFix.FormatOutput.FormattedOutputFactory" />
    <add key="Avtec.DevMorningFix.FormatOutput.IFundamentalFormat"       value="Avtec.DevMorningFix.FormatOutput.SimpleFormat" />
    <add key="Avtec.DevMorningFix.FormatOutput.IFundamentalModel"        value="Avtec.DevMorningFix.FormatOutput.FundamentalModel" />
    <add key="Avtec.DevMorningFix.FormatOutput.IOutput"                  value="Avtec.DevMorningFix.FormatOutput.ConsoleOutput" />
    <add key="Avtec.DevMorningFix.TempSpot.DataManager.IDataManager"     value="Avtec.DevMorningFix.TempSpot.DataManager.XmlManager" />
    <add key="Avtec.DevMorningFix.BusinessCases.IShowFundamentals"       value="Avtec.DevMorningFix.BusinessCases.ShowFundamentals" />
  </appSettings>
</configuration>